body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn-modern{
    background-color: rgba(30, 30, 181, 0.933);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    border-bottom: 2px solid rgb(21, 9, 158);
    cursor: pointer;
}
.btn-modern:hover{
    transform: translateY(-5px);
    background-color: aqua;
    color: blueviolet;
    transition: 0.4s;
    box-shadow: 0px 0px 10px rgb(4, 33, 108);
    border: none;
}
